{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "proseWrap": "always",
  "printWidth": 145,
  "bracketSpacing": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}